:root{
    --main-color:#212121;
    --text-color:#757575;
    --buttons-color:#F5F4FA;
    --background-color: #ffffff;
    --background-section: #F5F4FA;
}

body{ font-family:"Roboto",sans-serif;
    background-color: #ffffff;
    color:#434455
}
 
h1, h2, h3, h4, h5, h6, p {
	margin:0;
}
a{
    text-decoration: none;
    display: block;
}
 ul, ol {
    margin:0;
    padding-left: 0;
    list-style: none;
    
} 
img {
    display: block;
}
.head{
    border-bottom: 1px solid #e7e9fc
}
.container{
   
    width: 1158px;
    padding:0 15px;  
    margin:0 auto; 
}

 .header-container{
    display:flex;
    align-items: center;
 }
.navigation {
    display: flex;
    color: #e7e9fc;
    align-items: center;
}
.webstudio{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.studio{
    color: #2E2F42;
   
}
.menu{
    display: flex;
    gap:40px;
}

.nav-pointer {
    color:#2e2f42;
    font-family:"Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    gap: 40px;
    padding: 24px 0;
}

.nav-pointer:hover,
.nav-pointer:focus {
    color: #404bbf;}

.header-adress
{
    font-style: normal;  
    margin-left: auto;  
}
.tel-mail{
    display: flex;
    margin-right: 40px;
    gap: 40px;
}
.contacts{
    color:#434455;
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.02em;
}
.tel-mail{
    display: flex;
    gap: 40px;
}
.contacts:hover,
.contacts:focus{
    color: #404bbf;
}


.hero{
        background: #2E2F42;
        padding:188px 0;
}
.desigions{
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
max-width: 496px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
}
.push{
background-color: #4D5AE5;
font-family:"Roboto",sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
margin: 0 auto;
}
.push:hover,
.push:focus
{background-color:#404BBF;}

.order-service{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: #ffffff;
}
.visually-hidden{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
    
}
.benefit-list{
    display:flex;
    gap:24px;
}
.strategy-list{
    width: calc((100% - 72px) / 4); 
}
.benefits{
background-color: #FFFFFF;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.benefit{
    font-family:"Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    
}
.benefit-section{
    padding:120px 0;
}
.team-section{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-list{
    display: flex;
    gap:24px;
}
.our-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-item {
    background-color: #FFFFFF;
    width:calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px; 
   }
.worker-name{
    padding: 32px 0;
}
    .team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
    }

.profession{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.portfolio-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.project-card{
    width: calc((100% - 48px) / 3);
}
.app-name{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.products{ 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}
.description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

    .floor{
        background: #2E2F42;
        padding: 100px 0;
}
.floor-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
.webstudio-floor{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px; 
}
.studio-floor{
    color: #f4f4fd;
}
